.header{
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin : 20px;
}
.btn{
    background-color: #ff0000; /* Green */
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    margin: 10px 10px;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
}