*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(89, 88, 88);
    color: white;
}
.parent{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin: 20px;
    
    height :400px;
    width: 300px;
    background-color: rgb(200, 197, 197);
    color: black;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 10px 0px rgb(0, 0, 0);
    padding: 20px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.card img{
  
    object-fit: cover;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.top button{
    
    padding: 10px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 0px solid rgb(0, 0, 0);
    border-radius: 20px;
    cursor: pointer;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.middle{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.middle h3 span{
    font-size: 12px;
    padding: 5px;
    font-weight: normal;
}
.postings{
    display: flex;
    gap: 20px;
    align-items: center;
}
.postings h4{
    border: 1px solid rgb(0, 0, 0);
    padding: 2px;
    border-radius: 5px;
    font-weight: normal;
}
.bottom{
  display: flex;
  justify-content: space-between;
}
.bottom button{
    padding: 10px;
    background-color: black;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    cursor: pointer;
}
.bottom p{
    font-size: 12px;
    font-weight: normal;
}