*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(3, 3, 3);
    color: white;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.nav2{
  display: flex;
  gap: 20px;
}

.Light{
  background-color: white;
  color:black;
}

.Dark{
  background-color: gray;
  color: white;
}